.arrow {
    display: inline-block;
    margin-left: 10px;
  }
  
  .arrow-down::after {
    content: "▼";
  }
  
  .arrow-up::after {
    content: "▲";
  }
  .cursor-pointer{
    font-size: 10px;
    color: "#2D37EC";
  }
  .keyWordP{
    font-size: 10px;
    margin-top: 0.2rem;
    color:'#070A40';
  }

  .step-primary {
    color: '#070A40' !important;
  }

  .steps .step-primary + .step-primary:before, .steps .step-primary:after {
    --tw-bg-opacity: 1;
    background-color: #070a40 !important;
    --tw-text-opacity: 1;
    color: var(--fallback-pc,oklch(var(--pc)/var(--tw-text-opacity)));
  }
.continue{
  background-color: #070A40 !important; 
  color: #E4E9F2 !important;
  border-color: #070A40 !important;
}
.back{
  color: #070A40 !important;
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: #070A40 !important;
}